html {
    font-family: 'Tillana';
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

header {
    background-image: linear-gradient(#6bc26d, #fff645);
}

header h4 {
    margin-top: 0;
    padding-top: 10px;
}

h4:last-child{
    margin-bottom: 0;
}

hr{
    margin-top: 0;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 40%;
    margin: 1rem auto;
}

.meme-area {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: auto;
}

.meme {
    /* max-height: 400px;
    max-width: 30%; */
    margin: 1rem auto;
    position: relative;
    align-items: center;
}

img{
    max-width: 400px;
    margin: auto;
}

.text {
    position: absolute;
    max-width: 75%;
    font-family: 'Viga', sans-serif;
    font-size: 1.5em;
    color: #faebd7;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#top{
    top: 10px;
}

#bottom{
    bottom: 10px;
}

