html {
    font-family: 'Tillana';
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

header {
    background-image: linear-gradient(#6bc26d, #fff645);
}

header h4 {
    margin-top: 0;
    padding-top: 10px;
}

h4:last-child{
    margin-bottom: 0;
}

hr{
    margin-top: 0;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 40%;
    margin: 1rem auto;
}

.meme-area {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: auto;
    background-image: linear-gradient(#fff645, #6bc26d);
}

.meme {
    height: 100%;
    max-height: 400px;
    margin: 1rem auto;
    position: relative;
    align-items: center;
    background-image: url(https://image.flaticon.com/icons/png/128/61/61848.png);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8%;

}

img{
    max-width: 400px;
    margin: auto;
    z-index: 5;
}

img:hover{
    opacity: .5;
}

.text {
    position: absolute;
    max-width: 75%;
    font-family: 'Viga', sans-serif;
    font-size: 1.5em;
    color: #faebd7;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

#top{
    top: 10px;
}

#bottom{
    bottom: 10px;
}

